In [1]:
import sqlite3 as sqlite
from sqlite3 import Cursor

In [2]:
conn = sqlite.connect("Very_First_Database.db")
cursor = conn.cursor()

In [3]:
cursor.execute("INSERT INTO third_bloody_table VALUES ('value_1', 'value_2', 'value_3')")

In [4]:
conn.commit()

Now we are going to fetch and query things from our database.
In order to query the data we need to make use of the fetch function

In [6]:
def query_data(database_path: str, database_table: str, amount: int = 0) -> None:
    new_connection = sqlite.connect(database_path)
    new_cursor: Cursor = new_connection.cursor()
    
    if amount == 0:
        print(new_cursor.execute(f"SELECT * FROM {database_table}").fetchall())
    elif amount == 1:
        print(new_cursor.execute(f"SELECT * FROM {database_table}").fetchone())
    else:
        print(new_cursor.execute(f"SELECT * FROM {database_table}").fetchmany(amount))
    
    return None

query_data(database_path="Very_First_Database.db", database_table= "third_bloody_table", amount=1)

('Pootis', 'Mann', 'PootisMann@Twofort.com')

In [15]:
new_conn = sqlite.connect("Very_First_Database.db")
new_cursor: Cursor = new_conn.cursor()

new_cursor.execute("SELECT rowid, * FROM third_bloody_table")

items =new_cursor.fetchall()

print("FIRST_NAME\tLAST_NAME\tEMAIL")
print("----\t\t----\t\t----")
for id, first, last, email in items:
    print(f"{id}: {first}\t{last}\t{email}")
    print("--------")

new_conn.commit()
new_conn.close()

FIRST_NAME	LAST_NAME	EMAIL
----		----		----
1: Pootis	Mann	PootisMann@Twofort.com
--------
2: Pootis	Mann	PootisMann@Twofort.com
--------
3: Medic	Medimedes	Medic@Medimedes.com
--------
4: Apples	Sniper	Apples@Sniper.com
--------
5: Easter	Bunny	Easter@Bunny.com
--------
6: Pootis	Mann	PootisMann@Twofort.com
--------
7: Medic	Medimedes	Medic@Medimedes.com
--------
8: Apples	Sniper	Apples@Sniper.com
--------
9: Easter	Bunny	Easter@Bunny.com
--------
10: value_1	value_2	value_3
--------
11: value_1	value_2	value_3
--------
12: value_1	value_2	value_3
--------
13: value_1	value_2	value_3
--------

In [21]:
new_conn = sqlite.connect("Very_First_Database.db")
new_cursor = new_conn.cursor()

new_cursor.execute("SELECT rowid,* FROM third_bloody_table")

print(new_cursor.fetchone())

(1, 'Pootis', 'Mann', 'PootisMann@Twofort.com')