In [3]:
# Let'sadd data to our table!
import sqlite3 as sqlite

In [20]:
conn = sqlite.connect("Very_First_Database.db")

In [21]:
cursor = conn.cursor()

In [22]:
cursor.execute(""" CREATE TABLE third_bloody_table(
first_name text,
last_name text,
email text
)""")

OperationalError: table third_bloody_table already exists

In [17]:
# Use the cursor's .execute() method in which you insert a large string
# the syntax is: INSERT INTO table_name VALUES ('value_1', 'value_2', 'value_3')
cursor.execute("INSERT INTO third_bloody_table VALUES ('Pootis', 'Mann', 'PootisMann@Twofort.com')")

In [18]:
conn.commit()

In [19]:
conn.close()